@use "./utils/variables.scss" as *;

#home{
    $textColor: $textColorDark;

    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;

    .landing{
        width: 600px;
        height: 280px;
        position: absolute;
        top: 50%; left: 10%;
        transform: translate(0, -50%);

        .title{
            width: 100%;
            height: 100%;
            color: #d3d3d3;
            position: absolute;
            font-size: 200px;
            line-height: 240px;
            font-weight: bolder;
            font-family: 'Noto Sans KR', sans-serif;
        }

        .subtitle{
            width: 300px;
            height: 100px;
            color: rgba($textColor, .5);
            position: absolute;
            bottom: 0; right: 0;
            font-size: 80px;
            line-height: 100px;
            text-align: right;
            font-weight: bolder;
            font-family: 'Noto Sans KR', sans-serif;
        }
    }

    .serviceTo{
        width: 400px;
        height: 35px;
        position: absolute;
        top: 50%; left: 10%;
        transform: translate(20px, calc(-50% + 200px));
        display: flex;

        .serviceLink{
            height: 100%;
            color: rgba($textColor, .7);
            position: absolute;
            font-size: 30px;
            line-height: 30px;
            text-decoration: none;
            font-weight: bold;
            font-family: 'Noto Sans KR', sans-serif;

            &:hover { border-bottom: 1.5px solid rgba($textColor, 1); }
        }
    }

    .serviceInfo{
        color: grey;
        position: absolute;
        bottom: 20px; right: 20px;
        font-size: 8px;
        font-weight: 100;
        line-height: 15px;
    }
}